<section id="tips">
    <div class="container">
    <h1> <strong>¡Aprovecha el nuevo mundo de enseñanza en nuestro Instituto!</strong> </h1>
    <p class="text-center">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
    <p> <strong class="text"> 1. Hacer Deporte. </strong> <br>Ejercitarte no solo te ayuda a tener un estilo de vida saludable, también te hace conectarte contigo mismo, mejora tu autoestima y libera endorfinas que te hacen estar más feliz. Lo ideal es hacerlo 3 veces por semana en tiempos de 30 a 50 minutos. </p>
    <p> <strong class="text"> 2. Comer sanamente.</strong> <br> Somos lo que comemos, por eso, es importante ser consciente que los alimentos que ingerimos son fundamentales para llevar una vida sana. Lo ideal es siempre incluir frutas, verduras, proteínas y carbohidratos. </p>
    <p> <strong class="text"> 3. Medita. </strong> <br> Encuentra un momento en el día para conectarte contigo misma y meditar. Esta práctica te ayuda a calmar la ansiedad, el estrés y te libera de la agitación del día a día. El bienestar emocional y mental es importante para tener un estilo de vida saludable. </p>
    <p> <strong class="text"> 4. Equilibra tus actividades. </strong> <br> Debemos crear hábitos más allá del trabajo o la rutina diaria. Darnos una pausa, encontrar espacio para las actividades que amamos hacer, ejercitarnos y tener horarios de descanso nos ayudarán a equilibrar nuestro día a día. </p>
    </div>
    </section>